<div class="career-wrapper">

  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

<div class="twocards">

  <div class="card cardxx">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card cardxx">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>



</div>

<div class="contentbd">

<p>We employ the best of the best. We treat them well, provide them with a clear vision and goals, let them chart their own course and back them with training, coaching, positive critical review, genuine personal support and technology which they require to be successful. Meanwhile, we are a team that believe in foreseeing and projecting future and perform our task collectively.
We have developed the working environment to make the great place to work where people are inspired to be the best they can be.  We ensure that each staff member strongly backs our promise to serve our valued customers. We are promoting the spirit of teamwork.  We believe that existence, success and customer satisfaction is directly depend on our staff.
</p>


<p style="text-align: justify; line-height: 150%;"><span style="font-size: 12.0pt; line-height: 150%; font-family: 'Tahoma',sans-serif;">&nbsp;</span></p>
<p style="text-align: center;"><em><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Times New Roman',serif; color: red;">&ldquo;The very essence of leadership is that you have to have a vision.&rdquo;</span></em></p>
<p style="text-align: center; line-height: 18.0pt; background: white; margin: 0in 0in 15.0pt 0in;">&nbsp;For opportunities available, please send us your CV at</p>
<p style="margin: 0in; margin-bottom: .0001pt; text-align: center; line-height: 18.0pt; background: white;"><a href="mailto:careers@kemira.com"><strong>careers@kemira.com</strong></a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="font-size: 20.0pt; line-height: 107%;">&ldquo;Right person for the Right job&rdquo;</span></p>
<p>&nbsp;</p>


</div>



</div>
