<div class="bg">
<div class="container">
      <div class="carousel" id="slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slide" data-slide-to="0" class="active"></li>
          <li data-target="#slide" data-slide-to="1"></li>
          <li data-target="#slide" data-slide-to="2"></li>
          <li data-target="#slide" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">

              <img src="/assets/images/Bluw-berry-seeds.jpg" class="img-fluid d-flex align-items-center justify-content-center min-vh-100">


            <div class="carousel-caption">
              <h3>Village Life</h3>
              <p>The people living in Sri Lankan rural villages are generally curious over foreign visitors, that’s why families are usually keen to talk to tourists and often invite them home for a cup of tea. </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/images/paddy.jpg" class="img-fluid d-flex align-items-center justify-content-center min-vh-100">
          <div class="carousel-caption">
              <h3>Lakes</h3>
              <p>A lake (from Latin lacus) is a large body of water (larger and deeper than a pond) within a body of land. As a lake is separated from the ocean, it is not a sea. Some lakes are very big, and people in the past sometimes called them seas</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/images/raspberry.jpg" class="img-fluid d-flex align-items-center justify-content-center min-vh-100">
          <div class="carousel-caption">
              <h3>Autumn</h3>
              <p>Autumn, also known as fall in American and Canadian English, is one of the four temperate seasons. Autumn marks the transition from summer to winter, in September (Northern Hemisphere) or March (Southern Hemisphere), when the duration of daylight becomes noticeably shorter and the temperature cools down considerably.</p>
            </div></div>
          <div class="carousel-item"><img src="/assets/images/paddy.jpg" class="img-fluid d-flex align-items-center justify-content-center min-vh-100">
          <div class="carousel-caption">
              <h3>Cloudes</h3>
              <p>In meteorology, a cloud is an aerosol comprising a visible mass of minute liquid droplets, frozen crystals, or particles suspended in the atmosphere above the surface of a planetary body. The droplets and crystals may be made of water or various chemicals.</p>
            </div></div>
        </div>
        <a href="#slide" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
         <a href="#slide" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    </div>

<br>
<div class="barimage">
  <img src="/assets/images/midbar.png" alt="bar" width="100%">
</div>


<div class="cardset1">

  <div class="card" style="width: 17.6%;" class="prodcard">
  <img class="card-img-top" src="/assets/images/Bluw-berry-seeds.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card" style="width: 17.6%;" class="prodcard">
  <img class="card-img-top" src="/assets/images/Bluw-berry-seeds.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card" style="width: 17.6%;" class="prodcard">
  <img class="card-img-top" src="/assets/images/Bluw-berry-seeds.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card" style="width: 17.6%;" class="prodcard">
  <img class="card-img-top" src="/assets/images/Bluw-berry-seeds.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card" style="width: 17.6%;" class="prodcard">
  <img class="card-img-top" src="/assets/images/Bluw-berry-seeds.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div><!-- cardset1 -->
