<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-white" routerLink="/"><img src="/assets/images/logo 2.png" alt="kemira" id="kemiralogo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-dark" routerLink="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/aboutus">ABOUT US </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          OUR SEGMENTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark" href="#">Products</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-dark" href="#">Services</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/careers">CAREERS </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/contactus" id="kkk">CONTACT US </a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-white my-2 my-sm-0 text-white" type="submit">Search</button>
    </form> -->
  </div>
  <div class="simplebar">

  </div>
</nav>
